<div class="cv">
  <body style="position: relative; min-width: 1000px; background: #d1d1d1;" data-gr-c-s-loaded="true">
  	<iframe class="fadein1" id="myframe" style="position: relative; margin: auto;" src="https://docs.google.com/viewer?url=https://arturjssln.github.io/CV_English.pdf&amp;embedded=true" title="CV Artur Jesslen" width="100%" height="1250" frameborder="0">
  		Your browser does not seem to handle frames properly
  	</iframe>


  	<div style="position: absolute ; top:0; right:0; width: 80px; height: 1250px; background: #d1d1d1;"> </div>

  	<div style="position: absolute ; top: 1180px; bottom: 0; left:0; width: 100%; height: 60px; background: #d1d1d1;"> </div>

  	<div class="fadein2" style="position: absolute ; top: 1180px; left: 0; right: 0; width: 150px; margin: auto; display: flex; justify-content:space-between;">
  		<a class="logo" href="https://arturjssln.github.io/CV_English.pdf" target="_blank">
  	        <img alt="expand" src="images/expand_logo.png" height="30">
  	    </a>
  		<a class="logo" href="https://arturjssln.github.io/CV_English.pdf" target="_blank">
  	        <img alt="expand" src="images/print_logo.png" height="30">
  	    </a>
  	    <a class="logo" href="CV_English.pdf" download="">
  	        <img alt="print" src="images/download_logo.png" height="30">
  	    </a>
  	</div>
  </body>
</div>
